// Fuentes
$font-primary: "Dancing Script", cursive;
$font-secondary: "Montserrat", sans-serif;

// Tamaños de fuente
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-xl: 30px;
$font-size-xxl: 50px;
$font-size-heading: 70px;
$font-size-title: 90px;
