/*---------------------------------SECTION-------------------------------------*/
body {
  margin: 0;
}

.principal {
  background-image: url(../img/principal-img-1.jpg);
  background-size: cover;
  position: relative;
  min-height: 33.59375vw;
}

.container {
  display: flex;
  width: 100%;
  border-top: 1px solid #c14679;
}

.container-principal {
  margin-left: 12%;
}

.titulo-principal {
  color: #c14679;
  font-family: "Dancing Script", cursive, cursive;
  font-size: 90px;
  font-weight: bold;
  margin: 0;
  margin-top: 70px;
}

.tortas {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 50px;
}

.titulo-desc {
  color: rgb(66, 66, 66);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

/*---------------------------------SECTION2-------------------------------------*/
.section-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-primero {
  background-image: url(../img/promo-1-1149x474.jpg);
  position: relative;
  width: 60%;
  height: 450px;
  margin: 0 auto;
  border: 8px solid #cacaca;
  margin-left: 16%;
}

.article-img {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.titulo-sec {
  margin: 0;
  font-size: 70px;
  text-align: center;
  color: #c14679;
  font-family: "Dancing Script", cursive;
}

.text-section {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  color: rgb(66, 66, 66);
}

/*---------------------------------SECTION3-------------------------------------*/
.section-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10rem;
}

.titulo-ter {
  font-size: 50px;
  text-align: center;
  margin: 10rem;
  font-family: "Montserrat", sans-serif;
}

.container-column {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 4rem;
}

.col-card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 100%;
  height: fit-content;
  transition: transform 0.3s ease;
}

.col1 {
  height: 300px;
  width: 380px;
  border: 8px solid #dfdede;
}

.titulo-col {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(46, 46, 46);
}

.text-col {
  text-align: center;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  color: rgb(70, 70, 70);
  margin: 0%;
}

.boton {
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(114, 114, 114);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton:hover {
  background-color: #c14679;
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.col-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*---------------------------------SECTION4-------------------------------------*/
.container-section4 {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 3rem;
}

.sec-4 {
  background-image: url(../img/bg-pattern-1.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.titu-4 {
  font-size: 50px;
  text-align: center;
  margin-top: 7%;
  font-family: "Montserrat", sans-serif;
}

.text-precio {
  font-size: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #c14679;
  margin: 0;
}

.column-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-top: 50px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-top: 30px;
  align-items: center;
  justify-items: center;
  transition: transform 0.3s ease;
}

.column-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.column-card-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-card-image-container {
  display: flex;
  align-items: center;
  height: 100px;
}

.column-card-image-container img {
  position: relative;
  object-fit: contain;
  width: 180px;
  height: 100px;
}

.column-card-information-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.column-card-information-container-titulo-col {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/*---------------------------------contact-------------------------------------*/
.formulario-contacto {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: rgb(70, 70, 70);
}

.formulario-contacto h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario-contacto label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-contacto button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #c14679;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.formulario-contacto button:hover {
  background-color: #8f365b;
}

header {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  background-color: #dfdede;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  margin-left: 10%;
  align-items: center;
  flex-wrap: wrap;
}

.amburgesa {
  border: none;
  background: none;
  font-size: 18px;
  display: none;
}

.list-conteiner-nav {
  display: flex;
  gap: 30px;
  list-style-type: none;
  transition: background-color 0.3s ease;
  margin: 0%;
}

.nav-menu-item {
  color: rgb(61, 61, 61);
  font-size: 18px;
  letter-spacing: 3px;
  font-size: 18px;
  text-decoration: none;
  line-height: 40px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: 50%;
  transition: all 0.4s ease;
}
.nav-menu-item:hover {
  border: 2px solid #c14679;
}

i {
  color: #c14679;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

/*----------------------------------------------------------------------*/
/*---------------------------------SECTION-------------------------------------*/
/*---------------------------------SECTION4-------------------------------------*/
/*---------------------------------MEDIA-------------------------------------*/
@media only screen and (max-width: 767px) {
  Body {
    overflow-x: hidden;
  }
  .amburgesa {
    font-size: 20px;
    display: inline-block;
  }
  .list-conteiner-nav {
    display: none;
  }
  .nav-menu-item {
    font-size: 16px;
    padding: 0;
    line-height: 30px;
  }
  .titulo-principal {
    font-size: 60px;
  }
  .tortas {
    font-size: 30px;
  }
  .titulo-desc {
    font-size: 15px;
    line-height: 20px;
  }
  .titulo-sec {
    font-size: 30px;
  }
  .article-primero {
    width: 30rem;
    height: 200px;
    margin: 0;
  }
  .col-card {
    padding: 30px;
    width: 300px;
    height: 470px;
    margin: 20px;
  }
  .col1 {
    height: 200px;
    width: 280px;
  }
  .text-section {
    font-size: 15px;
    line-height: 25px;
  }
  .titulo-ter {
    font-size: 20px;
    margin: 20px;
  }
  .section-columns {
    margin: 0%;
    padding-bottom: 3rem;
  }
  .container-column {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0;
  }
  .titu-4 {
    font-size: 20px;
  }
  .text-precio {
    font-size: 15px;
  }
  .container-section4 {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 5rem;
  }
  .column-card-image-container {
    display: flex;
    align-items: center;
    height: 100px;
  }
  .column-card-image-container img {
    object-fit: contain;
    width: 180px;
    height: 100px;
  }
  /*---------------------------------footer-------------------------------------*/
  .list-footer {
    display: block;
    margin-left: 3rem;
  }
  .footer-list {
    font-size: 12px;
  }
}

/*# sourceMappingURL=estilos.css.map */
