@import "variables";

footer {
  background-color: #ccc;
}
.list-footer {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-list {
  color: $color-tertiary;
  font-size: $font-size-small;
  line-height: 40px;
  letter-spacing: 3px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
