header {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  margin-left: 10%;
  align-items: center;
  flex-wrap: wrap;
}

.amburgesa {
  border: none;
  background: none;
  font-size: $font-size-medium;
  display: none;
}
.list-conteiner-nav {
  display: flex;
  gap: 30px;
  list-style-type: none;
  transition: background-color 0.3s ease;
  margin: 0%;
}

.nav-menu-item {
  color: $color-tertiary;
  font-size: $font-size-medium;
  letter-spacing: 3px;
  font-size: $font-size-medium;
  text-decoration: none;
  line-height: 40px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: 50%;
  transition: all 0.4s ease;

  &:hover {
    border: 2px solid $color-primary;
  }
}

i {
  color: $color-primary;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}
